@import url(./reset.css);

body{
    background-color: #FAF5ED;
    font-family: Noto Sans;
    font-size: 16px;
    color: white;
    font-weight: 500px;
    line-height: 1.6;
    letter-spacing: 0.2em;
    margin: 0 auto;
}

/* 大圖 */
.top{
    background-image: url(../img/p8/p8_top.jpg);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    /* display: none; */
}

/* ------------------------------------選單 -------------------------------------------*/

.list{
    background-image: linear-gradient(180deg, #544332ad 0% ,  #54433222 100%);
    height: 120px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.list2{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_right{
    display: flex;
    justify-content: space-between;
}

.list2 a img{
    width: 250PX;
    padding: 5px 50px;
}

.list2 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.list2 ul li{
    display: block;
    padding: 10px;
    text-align: center;
}

.list2 ul li a{
    color: #FAF5ED;
    text-decoration: none;
}

.list2 ol{
    margin-top: 20px;
    margin-right: 20px;
    display: flex; 
    margin-left: 30px;
}

.list2 ol a{
    display: block;
}

.fa-user{
    color: #FAF5ED;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.fa-cart-shopping{
    color: #FAF5ED;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.top2{
    display: none;
}

/*------------------------------------ lightbox1 ---------------------------------------------*/

.lightbox1{
    background-color: #FAF5ED;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    z-index: 9999;
}

.none1{
    display: none;
}
    
.lightbox1 > article{
    background-color: white;
    width: 400px;
    height: 450px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox1 > article{
    color: #544332;
    font-weight: 600;
}

.fa-circle-user{
    color: #54433290;
    width: 400px;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.lightbox1 > article h1{
    font-size: 24px;
    text-align: center;
}

.input1{
    margin: 20px 110px 20px;
}

.mail{
    margin-top: 5px;
    padding-left: 10px;
    height: 20px;
}

.input2{
    margin: 0 110px;
}

.password{
    margin-top: 5px;
    padding-left: 10px;
    height: 20px;
}

.lightbox1 > article h6{
    color: #544332aa;
    font-size: 12px;
    margin: 10px 110px;
    letter-spacing: 0.1em;
}

.lightbox1 > article a{
    text-decoration: none;
}

.register{
    display: flex;
    flex-direction: column;
}

.register>.send4{
    font-weight: 600;
    color: #544332;
    width: 180px;
    margin: 10px auto;
    height: 30px;
    border: 0;
    letter-spacing: 0.3em;
    background-color: #54433230;
    border-radius: 5px;
    cursor: pointer;
}

.register>.send5{
    font-weight: 600;
    color: #544332;
    width: 180px;
    margin: 10px auto;
    height: 30px;
    border: 0;
    letter-spacing: 0.3em;
    background-color: #54433230;
    border-radius: 5px;
    cursor: pointer;
}

/* -------------------------------------全部內文 ---------------------------------------------------------*/

.main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* display: none; */
}

/* 購物車 */
.car{
    background-color: #544332cc;
    width: 60%;
    margin: 0 auto 50px;
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 0;
    /* display: none; */
}

.car h1{
    color: #F3D1AA;
    font-weight: 600;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0.5em;
    margin: 50px 0 50px 120px;
}

/* ---------------------------------------商品--------------------------------------------------- */

.car ul{
    margin: 0 60px;
}

.car ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    padding-bottom: 10px;
}

.car ul li img{
    width: 250px;   
    height: 160px;
}

.title{
    width: 150px;
}

.title h2{
    color:#FFE7CC;
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.2em;
}

.in{
    color: rgba(255, 255, 255, 0.785);
    font-size: 16px;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

select{
    color: #544332;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    margin-right: 30px;
}

.car ul li h4{
    color: #FAF5ED;
    font-size: 18px;
    width: 60px;
    margin-top: 150px;
    margin-right: 30px;
}

.fa-trash-can{
    color: #FAF5ED;
    font-size: 16px;
    margin-top: 155px;
}

.price{
    display: flex;
}

.check{
    width: 120px;
    margin: 20px auto 40px;
    align-items: center;
    display: none;
}

.send1{
    color: #544332;
    font-size: 16px;
    line-height: 2.5;
    letter-spacing: 0.1em;
    text-align: center;
    border: none;
    width: 120px;
    border-radius: 10px;
    background-color: #FFE7CC;
}

/* -----------------------------------價錢 -----------------------------------------------*/

.total{
    background-color: #544332cc;
    width: 36%;
    height: 600px;
    margin: 0 auto 50px;
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 120px;
    /* display: none; */
}

.total h1{
    color: #F3D1AA;
    font-weight: 600;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.2em;
    margin: 50px 0 0 50px;
}

.total h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 0.1em;
    margin: 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}

.free{
    color: rgba(255, 255, 255, 0.808);
    margin: 50px 60px 0;
    font-size: 16px;
    letter-spacing: 0.1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}

.free1 input{
    height: 24px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.free1>.name{
    padding-left: 10px;
}

.free1{
    display: flex;
}

.free1 h3{
    color: #FFE7CC;
    width: 100px;
}

.free2{
    margin: 30px 0 10px;
    width: 250px;
}

.free2>.free3{
    color: #FFE7CC;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 120px;
}

.free3 p{
    color: rgba(255, 255, 255, 0.808);
}

.total2 h1{
    color: #F3D1AA;
    font-weight: 600;
    font-size: 30px;
}

.total2 h2{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.1em;
    margin: 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}

.pay{
    width: 80px;
    margin-top: 20px;
    margin-left: 260px;
    cursor: pointer;
}

.send2{
    color: #544332;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
    text-align: center;
    border: none;
    width: 100px;
    border-radius: 10px;
    background-color: #F3D1AA;
}

.send3{
    color: #544332;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
    text-align: center;
    border: none;
    width: 100px;
    border-radius: 10px;
    background-color: #F3D1AA;
    margin: 10px auto;
    margin-bottom: 20px;
}

.lightbox{
    display: none;
}

/* ---------------------------------------------footer -----------------------------------------------*/

.footer{
    background-image: url(../img/footer/footer.jpg);
    height: 350px;
    color: #544332;
    background-size: cover;
    /* display: none; */
}

.footer ul{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer li{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 16px;
}

.footer ul li h2{
    font-size: 20px;
    margin-top: 50px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5em;
}

.footer ul li h3{
    margin-top: 20px;
    font-size: 30px;
}

.fa-line{
    color: #544332;
    padding-left: 15px;
}

.fa-square-facebook{
    color: #544332;
    padding-left: 15px;
}

.fa-square-instagram{
    color: #544332;
    padding-left: 15px;
}

.footer ul li h4{
    padding-top: 40px;
    padding-right: 150px;
}

.code{
    display: flex;
}

.footer ul li h5{
    padding-top: 30px;
}

.footer ul li:last-child{
    display: flex;
}

.footer ul li h6{
    padding-top: 40px;
    padding-left: 20px;
    letter-spacing: 0.1em;
    line-height: 2;
}

.footer p{
    font-size: 12px;
    margin-top: 60px;
    text-align: center;
}

/* ------------------------------------hover --------------------------------------------------*/

.list2 ul li a:hover{
    color: #F3D1AA;
}

.list2 ul li:hover{
    border-bottom: 2px solid #00698088;
}

.fa-user:hover{
    color: #F3D1AA;
}

a:hover>.fa-cart-shopping{
    color: #F3D1AA;
}

.fa-line:hover{
    color: #874800;
}

.fa-square-facebook:hover{
    color: #874800;
}

.fa-square-instagram:hover{
    color: #874800;
}

.send1:hover{
    background-color: #544332;
    color: #FFE7CC;
    cursor: pointer;
}

.send2:hover{
    background-color: #544332;
    color: #FFE7CC;
    cursor: pointer;
}

.send3:hover{
    background-color: #544332;
    color: #FFE7CC;
    cursor: pointer;
}

.fa-trash-can:hover{
    color: #874800;
}

.lightbox1 article h6:hover{
    color: #544332;
    text-decoration: underline;
    width: 80px;
}

.register>.send4:hover{
    background-color: #544332;
    color: #FAF5ED;
}

.register>.send5:hover{
    background-color: #544332;
    color: #FAF5ED;
}

/*----------------------------------- 漢堡 -------------------------------------*/

.container{
    margin-top: 10px;
    margin-left: 20px;
    display: none;
}

button {
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    width: 50px;
    height: 50px;
}
  
button span {
    background-color: #FFE7CC;
    display: block;
    height: 3px;
    margin-bottom: 8px;
    transition: ease 0.3s;
}

button.toggled span:nth-child(1) {
    transform: rotate(45deg);
    margin-top:8px;
}
  
button.toggled span:nth-child(2) {
    transform: rotate(-135deg);
    margin-top:-10px;
}
  
button.toggled span:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -12px;
}

/*---------------------------------- 414 ---------------------------------*/

@media screen and (max-width: 414px){
    
    .top{
        background-image: url(../img/p8/p8_top2.png);
        width: auto;
        height: 100vh;
        background-size: contain;
        background-position: top;
    }

    .list {
        height: 60px;
        width: 100%;
    }    

    .container{
        display: block;
        margin-left: 10px;
    }

    button span{
        background-color: #006980;
    }

    .list2 a img {
        width: 120PX;
        padding: 0;
        margin-top: 5px;
        padding-left: 50px;
    }
    
    .list2 {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .list2 ul {
        background-image: linear-gradient(180deg, #2c2218db 50% ,  #41322380 100%);
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        width: 100%;
        position: absolute;
        left: 0;
        top: 60px;
        flex-direction: column;
        padding: 20px 0;
        display: none;
    }

    .list2 ul li{
        letter-spacing: 0.5em;
        padding: 20px;
        flex-direction: column;
    }

    .list2 ul li:hover{
        margin: 0 auto;
        border-bottom: 1px solid #00698088;
        width: 200px;
    }

    .list2 ul li a {
        color: #FAF5ED;
        text-decoration: none;
        line-height: 1.2;
    }

    .list2 ol {
        margin-top: 0;
        margin-right: 20px;
        display: flex;
        margin-left: 0;
    }

    .fa-user{
        margin: 10px;
        font-size: 16px;
    }

    .fa-cart-shopping{
        margin: 10px;
        font-size: 16px;
    }

    .top2{
        display: block;
        font-weight: 600;
        line-height: 2;
        text-align: center;
        padding-top: 150px;
        margin-right: 130px;
    }

    .top2 h1 {
        color: #faf5edd0;
        font-size: 24px;
    }

    .top2 h2{
        color: #faf5ed80;
        font-size: 16px;
    }

    .lightbox1 > article{
        top: 50%;
    }
    
    .fa-circle-user{
        font-size: 60px;
        padding-bottom: 5px;
    }

    .input1{
        letter-spacing: 0.1em;
        margin: 20px 120px 10px;
    }

    .input2{
        letter-spacing: 0.1em;
        margin: 0 120px;
    }

    .lightbox1>article h6{
        margin: 5px 130px 10px;
    }

    .register>.send4{
        font-size: 18px;
        letter-spacing: 0.2em;
        width: 150px;
        height: 40px;
        margin: 20px auto 5px;
    }

    .register>.send5{
        font-size: 18px;
        letter-spacing: 0.2em;
        width: 150px;
        height: 40px;
    }

    .main{
        width: 100vw;
    }

    .car{
        width: 100vw;
        border-radius: 0;
        margin: 0 auto;
        /* display: none; */
    }

    .car h1{
        font-size: 24px;
        margin: 0;
        margin-top: 30px;
        margin-left: 35px;
    }

    .car ul{
        margin: 0 15px;
    }

    .car ul li{
        margin: 30px auto;
    }

    .car ul li img{
        width: 140px;
        height: 100px;
        margin-top: 45px;
        margin-right: 10px;
    }

    .car ul li h4{
        font-size: 16px;
        margin-top: 120px;
        margin-right: 0;
    }

    .fa-trash-can{
        font-size: 16px;
        margin-left: 25px;
    }

    .title{
        /* margin-left: 10px; */
        width: 150px;
    }

    .title h2{
        font-size: 20px;
        line-height: 1.5;
        margin-left: 5px;
    }

    select{
        font-size: 14px;
        width: 75px;
        margin-right: 0;
        margin-left: 5px;
    }

    .in{
        font-size: 18px;
        justify-content: space-evenly;
    }

    .price{
        display: flex;
        flex-direction: column-reverse;
    }

    .check{
        width: 150px;
        display: block;
        margin: 30px auto;
    }

    .send1{
        width: 140px;
        font-size: 18px;
        margin: 0 auto;
    }

    .total{
        display: none;
    }

    .lightbox{
        display: block;
    }

    .lightbox{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, .5);
    }
      
    .none{
        display: none;
    }
      
    .lightbox > article{
        color: #544332;
        background-color: #FAF5ED;
        width: 90%;
        max-width: 800px;
        border-radius: 10px;
        padding: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }

    .total1{
        background-color: #544332;
        width: 90%;
        height: 550px;
        margin: 100px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px #ddd;
        position: fixed;
        top: 0;
        left: 5%;
        /* display: none; */
    }
    
    .total1 h1{
        color: #F3D1AA;
        font-weight: 600;
        font-size: 20px;
        line-height: 2;
        letter-spacing: 0.2em;
        margin: 30px 0 0 50px;
    }
    
    .total1 h2{
        font-weight: 500;
        font-size: 20px;
        line-height: 2;
        letter-spacing: 0.1em;
        margin: 0 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    }
    
    .total1.free{
        color: rgba(255, 255, 255, 0.808);
        margin: 50px 60px 0;
        font-size: 16px;
        letter-spacing: 0.1em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    }
    
    .total1>.free1 input{
        height: 24px;
        width: 200px;
        border-radius: 5px;
        border: none;
    }
    
    .total1>.free1>.name{
        padding-left: 10px;
    }
    
    .total1>.free1{
        display: flex;
    }
    
    .total1>.free1 h3{
        color: #FFE7CC;
        width: 100px;
    }
    
    .total1>.free2{
        margin: 30px 0 10px;
        width: 250px;
    }
    
    .total1>.free2>.free3{
        color: #FFE7CC;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 120px;
    }
    
    .total1>.free3 p{
        color: rgba(255, 255, 255, 0.808);
    }
    
    .total1>.total2 h1{
        color: #F3D1AA;
        font-weight: 600;
        font-size: 30px;
    }
    
    .total1>.total2 h2{
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.1em;
        margin: 0 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    }
    
    .pay{
        width: 100px;
        margin-top: 30px;
        margin-left: 210px;
        cursor: pointer;
    }
    
    .total1>.send2{
        color: #544332;
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.1em;
        text-align: center;
        border: none;
        width: 100px;
        border-radius: 10px;
        background-color: #F3D1AA;
    }
    
    .total1>.send3{
        color: #544332;
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.1em;
        text-align: center;
        border: none;
        width: 100px;
        border-radius: 10px;
        background-color: #F3D1AA;
        margin: 10px auto;
        margin-bottom: 20px;
    }

    .footer{
        background-image: url(../img/footer/footer2.png);
        background-size: cover;
        height: auto;
        width: auto;
    }

    .footer ul{
        width: 100%;
        flex-direction: column;
    }

    .footer li{
        margin-top: 0;
        margin-left: 0;
        font-size: 10px;
        align-items: center;
    }

    .footer ul li h2{
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
        letter-spacing: 0.3em;
    }

    .footer ul li h3{
        font-size: 30px;
        text-align: center;
        padding-right: 20px;
        margin-top: 0;
    }

    .footer ul li h4{
        width: 200px;
        padding-right: 0;
        margin-top: 20px;
    }

    .footer ul li h4 img{
        width: 200px;
    }

    .footer ul li:last-child{
        flex-direction: column;
    }

    .code{
        margin-top: 20px;
    }

    .footer ul li h5{
        padding-top: 40px;
    }

    .footer ul li h5 img{
        width: 70px;
    }

    .footer ul li h6{
        padding-left: 10px;
        font-size: 12px;
        font-weight: 550;
    }

    .footer p{
        margin-top: 0;
        width: 88%;
        margin: 80px auto 0;
        line-height: 1.5;
        padding-bottom: 20px;
        text-align: justify;
    }

}




